$dialog-border-width: 5px;
$dialog-border-color: blue;
$dialog-background-color: red;

$dialog-background-color-hover: green;
$dialog-border-color-hover: yellow;

.dialog {
  position: relative;
  border: $dialog-border-width $dialog-border-color solid;
  background-color: $dialog-background-color;
  width: 200px;
  height: 200px;
  border-radius: 5px;

  &:after {
    //height: 50px;
    //width: 50px;
    content: "";
    position: absolute;
    border-width: 40px;
    border-color: transparent transparent $dialog-background-color transparent;
    border-style: solid solid solid solid;
    left: 0;
    right: 0;
    top: -75px;
    margin: auto;
    height: 0;
    width: 0;
  }

  &:before {
    content: "";
    position: absolute;
    border-width: 40px;
    border-color: transparent transparent $dialog-border-color transparent;
    border-style: solid solid solid solid;

    left: 0;
    right: 0;
    top: round(-5 * 1.41 - 75) + px;
    margin: auto;
    height: 0;
    width: 0;

  }

  &:hover {
    background-color: $dialog-background-color-hover;
    border-color: $dialog-border-color-hover;

    &:after {
      border-color: transparent transparent $dialog-background-color-hover transparent;
    }

    &:before {
      border-color: transparent transparent $dialog-border-color-hover transparent;
    }
  }
  &:before:hover {

  }
  &:after:hover {
  }
}

.demigo {
  background: green;
  border: 10px yellow solid;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));

  &:after {
    content: "";
    position: absolute;
    border-width: 10px;
    width:0;
    height:0;
    border-color: transparent transparent yellow yellow;
    border-style: solid;
    bottom: calc(-2px);
    left: calc(-2px);
  }

  &:before{
    content: "";
    position: absolute;
    border-width: 10px;
    width:0;
    height:0;
    border-color: yellow yellow transparent transparent ;
    border-style: solid;
    top: calc(-2px);
    right: calc(-2px);
  }
}

.center {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}