@charset "UTF-8";
@import "math";

/**
  左上和右下的切角矩形，如有布局需要,外层需要嵌套一个div
  @param shipWidth - 是指切下来三角形的直角边长
 */
@mixin ship-extent-lt-rb($shipWidth,$border-width,$border-color,$background-color) {
  //clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
  clip-path: polygon(0 $shipWidth, $shipWidth 0, 100% 0, 100% calc(100% - #{$shipWidth}), calc(100% - #{$shipWidth}) 100%, 0 100%);
  border: $border-width $border-color solid;
  background-color: $background-color;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    left: 0;
    border-color: $border-color transparent transparent $border-color;
    border-width: ($shipWidth -( 1- 1/1.41  ) * $border-width)/2;
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: 0;
    bottom: 0;
    border-color: transparent $border-color $border-color transparent;
    border-width: ($shipWidth -( 1- 1/1.41  ) * $border-width)/2;
  }
}

@mixin ship-extent-lt-rb-hover($shipWidth,$border-width,$border-color,$background-color,$border-hover-color,$background-hover-color ) {
  @include ship-extent-lt-rb($shipWidth, $border-width, $border-color, $background-color);
  &:hover {
    background-color: $background-hover-color;
    border-color: $border-hover-color;
  }

  &:hover:before {
    border-color: transparent $border-hover-color $border-hover-color transparent;
  }

  &:hover:after {
    border-color: $border-hover-color transparent transparent $border-hover-color;
  }
}

@mixin dialog-tip-top($tip-height,$tip-left,$border-width,$dialog-background-color,$dialog-border-color,$tip-angle: 45deg) {
  & {
    position: relative;
    border: $border-width $dialog-border-color solid;
    background-color: $dialog-background-color;
  }

  $tip-width-half: ($tip-height/tan(90deg - $tip-angle/2));

  $tip-delta-border-height-half: $border-width/sin($tip-angle/2);
  $tip-contain-border-height-half: $tip-delta-border-height-half + $tip-height;
  $tip-contain-border-width-half: $tip-contain-border-height-half*tan($tip-angle/2);

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $tip-height $tip-width-half;
    top: -2* $tip-height;
    left: calc(#{$tip-left} - #{$tip-width-half});
    border-color: transparent transparent $dialog-background-color transparent;
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $tip-contain-border-height-half $tip-contain-border-width-half;
    top: -2* $tip-contain-border-height-half;
    left: calc(#{$tip-left} - #{$tip-contain-border-width-half});
    border-color: transparent transparent $dialog-border-color transparent;
  }
}

@mixin dialog-tip-top-hover($tip-height,$tip-left,$border-width,$dialog-background-color,$dialog-border-color,$dialog-background-color-hover,$dialog-border-color-hover,$tip-angle: 45deg) {
  @include dialog-tip-top($tip-height,$tip-left,$border-width,$dialog-background-color,$dialog-border-color,$tip-angle);
  &:hover {
    background-color: $dialog-background-color-hover;
    border-color: $dialog-border-color-hover;
  }

  &:hover:before {
    border-color: transparent transparent $dialog-border-color-hover transparent;
  }
  &:hover:after {
    border-color: transparent transparent $dialog-background-color-hover transparent;
  }
}

.test {
  width: 200px;
  height: 50px;
  opacity: 0.5;
  border-radius: 2px;
  @include ship-extent-lt-rb-hover(15px, 2px, #5ebaf8, #2f3b6b, #bc2432, #25254b);
}

.test2 {
  width: 200px;
  height: 400px;
  margin-top: 100px;
  @include dialog-tip-top-hover(80px, 50%, 5px, red, green,black,yellow, 30deg)

}